.row {
  justify-content: space-evenly;
  display: flex;

  &-center {
    align-items: center;
  }
}

.col {
  height: 100%;
}

.layer {
  position: absolute;
  left: 0%;
  top: 0%;
}

table {
  width: 100%;
  // table-layout: fixed;
  font-size: 24px;
  margin: auto;
}

td {
  border: solid 1px gray;
  padding: 12px;
}

.dropshadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
