* {
  white-space: nowrap;
  color: #2c3e50;
}

span,
strong {
  display: inline;
  white-space: inherit;
  border-bottom: inherit;
  margin: inherit;
  line-height: inherit;
  vertical-align: inherit;
}

@for $i from 1 through 6 {
  h#{$i} {
    white-space: nowrap;
    font-family: "Noto Sans TC", sans-serif;
    span {
      display: inline-block;
    }
  }
}

.katex {
  font-size: 2.5em !important;
}

.quote {
  font-size: 1em;
  color: #404952;
}

hr {
  height: 0;
  border: solid 1px lightgray;
}

h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 16px 0;
}

h2 {
  font-size: 4em;
  font-weight: bold;
  margin: 16px 0;
}

h3 {
  font-size: 3em;
  font-weight: bold;
  margin: 16px 0;
}

h4 {
  font-size: 2em;
  font-weight: bold;
  margin: 16px 0;
}

h5 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 8px 0;
}

h6 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px 0;
}

p,
ul,
li {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin: 8px 0;
  white-space: initial;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}

strong {
  color: black;
  border-bottom: solid 2px orange;
}
